body{
    background-color: burlywood;
}
header{
    text-align: center;
}
img{
    text-align: center;
    width: 50%;
    border-style: double;
    border-width: 5px;
}
h5{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium';

}
h2{
    text-align: center;
}
.fecha{
    font-weight: bold;
}
footer{
    border-top-width: 50px;
}